.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.streamlit

data
data/**
reports
reports/**

checkpoints/**/*.pt
checkpoints/**/*.pth
checkpoints/**/*.ckpt
!yolo11n.pt

*.mp4
*.mov
*.avi
*.mkv
*.jpg
*.jpeg
*.png
!yolo11n.pt
